// Colors

$off-black: #20222b;
$off-white: rgba(81, 81, 211, 0.781);
$blue: rgba(131, 131, 185, 0.829);
$another-blue: rgba(138, 138, 182, 0.507);
$light-blue: rgba(157, 157, 201, 0.849);
$purple: rgb(105, 6, 105);


// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;